@font-face {
    font-family: "raleway";
    src: url(../fonts/raleway/static/Raleway-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "raleway";
    src: url(../fonts/raleway/static/Raleway-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "raleway";
    src: url(../fonts/raleway/static/Raleway-Italic.ttf) format("truetype");
    font-style: italic;
    font-weight: normal;
}

.centerAll {
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-none {
    display: none !important;
}

.p8 {
    padding: 8px;
}

.p16 {
    padding: 16px;
}

.sp-between {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 4em;
    text-align: center;
}

#canvas {
    background-color: black;
}

#infoText {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1em 0;
    position: relative;
    top: -80px;
}

.fullScreenImg {
    background-color: transparent;
    padding: 8px;
    cursor: pointer;
    transition: 225ms ease-in-out;
}

.fullScreenImg:hover {
    transform: scale(1.5);
    filter: contrast(0.5);
    transition: 225ms ease-in-out;
}

#muteBtn {
    background-color: transparent;
    padding: 8px;
    cursor: pointer;
    transition: 225ms ease-in-out;
}

#muteBtn:hover {
    transform: scale(1.5);
    filter: contrast(0.5);
    transition: 225ms ease-in-out;
}

#welcomeScreen {
    width: 100vw;
    height: 100vh;
}

#welcomeScreen img {
    width: 100%;
    object-fit: contain;
}