@font-face {
    font-family: "raleway";
    src: url(../fonts/raleway/static/Raleway-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "raleway";
    src: url(../fonts/raleway/static/Raleway-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "raleway";
    src: url(../fonts/raleway/static/Raleway-Italic.ttf) format("truetype");
    font-style: italic;
    font-weight: normal;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../img/5.Fondo/1.png');
    background-position: bottom;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    box-sizing: border-box;
    text-align: center !important;
    flex-direction: column;
}

.card-img-top {
    height: 100% !important;
    max-height: 60vh !important;
    object-fit: fill;
}

.card {
    background-color: rgba(255, 255, 255, 0.4) !important;
    border-radius: 48px !important;
    justify-content: center;
    align-items: center;
    max-height: 75vh;
}

.centerAll {
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-none {
    display: none !important;
}

.p8 {
    padding: 8px;
}

.p16 {
    padding: 16px;
}

.sp-between {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

#canvas {
    background-color: black;
    display: block;
}

.infoTextBox {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 576px;
    width: 950px;
    flex-direction: column;
}

.topBox img {
    margin: 4px;
    width: 100%;
    max-width: 64px;
    min-width: 24px;
}

.card-img-top {
    border-radius: 48px !important;
    object-fit: cover;
}

.fullScreenImg {
    background-color: transparent;
    padding: 8px;
    cursor: pointer;
    transition: 225ms ease-in-out;
}

.fullScreenImg:hover {
    transform: scale(1.5);
    filter: contrast(0.5);
    transition: 225ms ease-in-out;
}

#btnBox {
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: space-evenly;
}

#btnBox button {
    position: relative;
    border-radius: 32px;
    background-color: transparent;
    width: 20%;
    max-width: 64px;
    height: 24px;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: contain;
    background-size: auto 90%;
}

#btnLeft {
    background-image: url('../img/btnLeft.png');
}

#btnRight {
    background-image: url('../img/btnRight.png');
}

#btnJump {
    background-image: url('../img/btnUp.png');
}

#btnThrow {
    background-image: url('../img/btnBottle.png');
}

#muteBtn {
    background-color: transparent;
    padding: 8px;
    cursor: pointer;
    transition: 225ms ease-in-out;
}

#muteBtn:hover {
    transform: scale(1.5);
    filter: contrast(0.5);
    transition: 225ms ease-in-out;
}

.cardBodyBox {
    display: flex;
    width: 90%;
    height: auto;
}

.keyImg {
    width: 100%;
    height: 100%;
    max-width: 60vh !important;
    max-height: 60vh !important;
    background-color: transparent !important;
    justify-self: center;
    align-self: center;
    object-fit: contain;
}

@media only screen and (max-width: 950px) {
    #canvas {
        width: 100% !important;
        height: calc(100vw/(950/576)) !important;
    }
    .infoTextBox {
        width: 100% !important;
        height: calc(100vw/(950/576)) !important;
    }
    #canvasSection {
        width: 100% !important;
    }
    article {
        width: 100% !important;
    }
    #btnBox {
        display: flex !important;
    }
}

@media only screen and (max-width: 500px) {
    .topBox img {
        margin: 4px;
        width: 100%;
        max-width: 32px;
        min-width: 12px;
    }
}

@media only screen and (max-height: 576px) {
    #canvas {
        height: 100vh !important;
        width: calc(100vh/(576/950)) !important;
    }
    #canvasSection {
        width: 100% !important;
    }
    article {
        width: 100% !important;
    }
    .card-img-top {
        max-height: 50% !important;
        max-width: 50%;
    }
    .card {
        display: flex !important;
        flex-direction: row !important;
        justify-content: center;
        align-items: center;
    }
    .infoTextBox {
        height: 100vh !important;
        width: calc(100vh/(576/950)) !important;
    }
    body {
        overflow: hidden !important;
    }
    .topBox img {
        margin: 4px;
        width: 100%;
        max-width: 32px;
        min-width: 12px;
    }
    #btnBox {
        display: flex !important;
    }
}

main {
    max-height: 100vh;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}